
[Unit]
Description=Demonstrate the statefulness of SHM-FD

[Service]
FileDescriptorStoreMax=1
FileDescriptorStorePreserve=yes
ExecStart="${SHMFD}/target/release/shm-fd" "${SHMFD}/target/release/shm-restore" "--snapshot=restore-v1" "${SHMFD}/target/fprimes-snapshot" "${SHMFD}/target/release/primes-snapshot"
Type=exec
Restart=on-abnormal
